@use "variables" as *;

/*Fondo  y tipografia*/
body {
    background-color: $fondo;
    color: black;
    font-family: $tipografia-general;
}

/*Encabezado*/
header {
    font-style: initial;
    padding: 20px;
    align-items: center;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header h1 {
    font-size: 70px;
    padding-left: 20px;
}

header nav {
    font-family: $tipografia-header-footer;
    background-color: $color-logo;
    border-radius: 20px;
}

main img {
    width: 100%;
}

header ul {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/*pie de pagina*/
footer {
    margin-top: 30px;
    background-color: rgba(165, 164, 164, 0.816);
    padding: 30px;
    @include flexbox (flex, none, nowrap, none, space-between, center);
    writing-mode: horizontal-tb;
    font-family: $tipografia-header-footer;
    border-top: solid;

}

footer h3 {
    @extend .texto-centro;
    line-height: 2;
}

.apps {
    display: flex;
    gap: 20px;

    img {
        width: 100%;
        height: 8vh;
    }
}