@use "variables" as *;

/*Fondo  y tipografia*/
body {
    background-color: $fondo;
    color: black;
    font-family: $tipografia-general;
}

/*Encabezado*/
header {
    font-style: initial;
    margin: nth($px, 2);
    align-items: center;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header h1 {
    font-size: nth($px, 6);
    padding-left: nth($px, 2);
}

header nav {
    font-family: $tipografia-header-footer;
    background: linear-gradient(90deg, $color-logo 55%, $fondo 85%);
    border-radius: nth($px, 2);
}

main img {
    width: 100%;
}

header ul {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: nth($px, 2);
    padding: nth($px, 2);
    margin-bottom: nth($px, 5);
}

header li {
    color: white;
}

/*pie de pagina*/
footer {
    margin-top: nth($px, 3);
    background-color: rgba(202, 202, 202, 0.816);
    padding: nth($px, 4);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    writing-mode: horizontal-tb;
    font-family: $tipografia-header-footer;
    border-top: solid;

    h2 {
        @extend .texto-centro;
        line-height: 1;
    }
}

.suscribite {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: nth($px, 1);
}

.apps {
    display: flex;
    gap: nth($px, 2);

    img {
        width: 100%;
        height: 8vh;
    }
}