@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kameron:wght@400..700&family=Khula:wght@300;400;600;700;800&display=swap&family=Oswald:wght@200..700&display=swap');
$tipografia-header-footer: "Oswald", sans-serif;
$tipografia-general: "Khula", sans-serif;
$tipografia-titulos: "Kameron", serif;
$fondo-botones: rgba(84, 106, 123);
$fondo: rgb(247, 249, 249);
$color-logo: rgb(193, 238, 255);
$px: 10px, 20px, 30xp, 40px, 50px, 70px, 100px;

.negrita {
    font-weight: bold;
}

.texto-centro {
    text-align: center;
}