@use "variables" as *;
@use "header-footer" as *;


* {
    margin: 0;
    padding: 0;
}



/*Beneificios pag inicio/productos*/
.beneficios {
    display: flex;
    justify-content: center;
    padding: nth($px, 2);
    @extend .texto-centro;
    font-family: $tipografia-general;
    border-bottom: solid;
    border-top: solid;
}

.beneficios h3 {
    @extend .negrita
}

.beneficios img {
    margin-top: nth($px, 2);
    height: 35vh;
}

/*Categorias pag inicio*/
.categorias {
    @extend .texto-centro;
    margin-bottom: nth($px, 3);
    padding: nth($px, 2);
}

.categorias h2 {
    padding: nth($px, 2);
    font-size: nth($px, 5);
    font-family: $tipografia-titulos;
    @extend .negrita
}



.categorias button {
    font-size: 80%;
    padding: 8px;
    border-radius: nth($px, 2);
}

.categorias a {
    color: black;
    text-decoration: none;
}

.categorias button :active {
    background-color: $color-logo
}

/*servicios*/
.servicios {
    h2 {
        padding: nth($px, 2);
        @extend .texto-centro;
        font-family: $tipografia-titulos;
        border-top-style: solid;
        @extend .negrita;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: $tipografia-general;
        line-height: 2;
    }

    button {
        @extend .boton;
        padding: nth($px, 1);
        border-radius: nth($px, 2);
    }

    a {
        color: white;
        text-decoration: none;
    }

    article {
        border-style: solid;
        border-radius: nth($px, 2);
        padding: nth($px, 2);
    }

    article :hover {
        @extend .negrita
    }
}

/*Buscador de producto*/
.buscador {
    padding: nth($px, 2);
    @extend .texto-centro;
    font-family: $tipografia-titulos;

    h2 {
        padding-bottom: nth($px, 2);
        font-size: nth($px, 5);
        @extend .negrita
    }
}


/*productos*/
.productos {
    gap: nth($px, 5);
    @extend .texto-centro;
    padding: nth($px, 4);
    font-family: $tipografia-titulos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    article {
        width: 20rem;
        border-radius: nth($px, 2);
        background-color: $color-logo;
    }

    article :hover {
        @extend .negrita
    }

    button {
        border-radius: nth($px, 2);
        padding: nth($px, 1);
        @extend .boton;
        font-family: $tipografia-titulos;

    }

    h3 {
        border-top: solid;
        padding: nth($px, 2);
    }

    p {
        border-style: solid;
        padding: nth($px, 1);
        @extend .negrita
    }

    img {
        width: 100%;
        height: 45vh;
        border-radius: nth($px, 2);
    }
}

/*Filtro de productos*/
.filtro {
    @extend .texto-centro;
    border-color: black;
    border-style: solid;
    border-radius: nth($px, 2);
    display: inline-table;
    margin-bottom: nth($px, 3);
    margin-left: nth($px, 2);
    padding: 5px;
    font-size: nth($px, 1);
    font-family: $tipografia-general;
}

/*Quienes somos*/
.quienessomos {
    padding: nth($px, 4);
    background-image: url(../assets/imagen-apple.png);
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    h2 {
        writing-mode: horizontal-tb;
        white-space: nowrap;
        text-orientation: sideways;
        margin-left: nth($px, 2);
        margin-right: nth($px, 5);
        font-family: $tipografia-titulos;
    }

    p {
        font-size: larger;
        @extend .texto-centro;
        font-family: $tipografia-general;

    }

    img {
        margin-top: nth($px, 5);
        margin-left: nth($px, 5);
        width: 100%;
        height: 30vh;
    }
}

/*Equipo*/
.conoce {
    @extend .texto-centro;
    margin-bottom: nth($px, 6);
    border-style: groove;
    border-bottom: none;
    padding-top: nth($px, 2);
    font-family: $tipografia-titulos;
    @extend .negrita
}

.equipo {
    margin-bottom: nth($px, 5);
    font-family: $tipografia-titulos;
    display: flex;
    justify-content: space-around;

    article {
        line-height: 3;
        border-style: solid;
        padding: nth($px, 4);
        border-radius: nth($px, 2);
        background-color: $color-logo;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    article :hover {
        @extend .negrita
    }

    img {
        width: 100%;
        height: 60vh;
        margin-bottom: nth($px, 2);
    }
}


/*Contacto*/

.pagcontac {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: nth($px, 2);
    padding: nth($px, 2);
    line-height: 3;
}

.contacto {
    @extend .texto-centro;
    border-style: solid;
    border-radius: nth($px, 2);
    padding: nth($px, 4);
    padding-top: nth($px, 3);
    margin-left: nth($px, 4);
    line-height: 2;

    h2 {
        font-family: $tipografia-titulos;
        @extend .negrita
    }

    p {
        font-family: $tipografia-general;
    }

    img {
        width: 100%;
        height: 30vh;
        border: solid;
        color: black;
        border-radius: nth($px, 2);
    }
}


/*Redes*/
.redes {
    border-style: solid;
    border-radius: nth($px, 2);
    padding: nth($px, 4);
    padding-top: nth($px, 3);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: $tipografia-titulos;
        @extend .texto-centro;
        @extend .negrita
    }

    div {
        font-family: $tipografia-general;
        padding-top: nth($px, 2);
        padding-bottom: nth($px, 2);
    }

    img {
        width: 100%;
        height: 20vh;
    }
}

/*Mensaje*/
.mensaje {
    @extend .redes;
    margin-right: nth($px, 4);

    h2 {
        padding-bottom: nth($px, 2);
        font-family: $tipografia-titulos;
        @extend .negrita
    }

}

.formulario {
    font-family: $tipografia-general;
}

.boton {
    background-color: $fondo-botones;
    color: white;
}

/*Preguntas frecuentes*/
.preguntasfrecuentes {
    @extend .texto-centro;
    margin-top: nth($px, 2);
    margin-bottom: nth($px, 2);
    font-family: $tipografia-general;
    @extend .negrita
}

.pregunta {
    margin-left: nth($px, 2);
    color: red;
    font-family: $tipografia-titulos;
    @extend .negrita;
    margin-left: nth($px, 5);
    line-height: 2;
}

.respuesta {
    margin-left: nth($px, 2);
    font-family: $tipografia-general;
}

.input {
    border-style: solid;
    border-radius: nth($px, 2);
    @extend .texto-centro;
    padding: nth($px, 6);
    margin-top: nth($px, 7);
    margin-bottom: nth($px, 7);
    font-family: $tipografia-general;
}

.enviar {
    background-color: rgba(84, 106, 123);
    color: white;
}

/*Adaptacion responsive*/

@media (max-width: 660px) {
    header {
        padding: 0%;
        margin: nth($px, 1);
    }

    header h1 {
        margin-top: nth($px, 2);
        margin-bottom: nth($px, 2);
        font-size: nth($px, 3);
    }

    .categorias h2 {
        font-size: nth($px, 3);
    }

    .buscador h2 {
        font-size: nth($px, 3);
    }

    .productos h3 {
        font-size: nth($px, 2);
    }

    .precios {
        font-size: 15px;
    }

    .servicios div {
        flex-direction: column;
    }

    .servicios article {
        margin-bottom: nth($px, 2);
        margin-right: nth($px, 2);
        margin-left: nth($px, 2);
    }

    .quienessomos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        background-image: none;
        padding: nth($px, 2);
    }

    .quienessomos h2 {
        font-size: nth($px, 2);
        text-align: center;
        margin-bottom: nth($px, 2);
        margin-top: nth($px, 2);
    }

    .quienessomos p {
        font-size: smaller;
        text-align: center;
        padding: nth($px, 2);
    }

    .quienessomos img {
        margin-top: nth($px, 2);
        margin-left: 0px;
        height: 40vh;
    }

    .equipo {
        flex-direction: column;
    }

    .equipo article {
        margin-left: nth($px, 2);
        margin-right: nth($px, 2);
        margin-bottom: nth($px, 2);
    }

    .equipo img {
        height: 80vh;
        width: 90%;
    }

    .pagcontac {
        flex-direction: column;
        align-items: center;
    }

    .contacto {
        margin-bottom: nth($px, 2);
        margin-left: 0px;

    }

    .redes {
        margin-bottom: nth($px, 2);
    }

    .mensaje {
        margin-right: 0px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

}